* {
   margin: 0;
   padding: 0;
   font-family: "Open Sans", sans-serif;
}

body {
   width: 100vw;
   height: 100vh;
   display: flex;
   font-family: "Open Sans", sans-serif;
}

.perfil {
   width: 25vw;
   padding: 50px 25px;
   color: white;
   position: relative;
   overflow: hidden;
}

.perfil:before {
   content: "";
   position: absolute;
   background-color: #fbb540;
   width: 27vw;
   height: 100vh;
   top: 0;
   left: 0;
}

.mensaje-error {
   color: #ff4848;
   font-size: 15px;
}
.mensaje-correcto {
   color: #48ff70;
   font-size: 25px;
}

.contenedor-mensaje-nueva {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.menu {
   position: relative;
   display: block;
   padding-right: 0;
   align-items: center;
   text-align: center;
   height: 100%;
   z-index: 1;
}

.task {
   width: 70vw;
   padding: 3vw 0;
   margin: 0 40px;
}

.foto-perfil {
   width: 150px;
   margin: 0 0 15px 50px;
}
.foto-perfil-listo {
   width: 150px;
   margin: 0 0 15px 15px;
}

.Nombre {
   font-size: 25px;
   margin-left: 10px;
}

.boton {
   display: flex;
   align-items: center;
   justify-content: center;
   border: 2px solid white;
   border-radius: 50px;
   text-decoration: none;
   color: white;
   width: 70%;
   height: 30px;
   margin: 15px 15%;
   text-align: center;
   transition: 0.1s;
}

.boton:hover {
   background-color: white;
   color: black;
   border: 1px solid black;
   width: 80%;
   height: 30px;
   margin: 15px 10%;
}

.cerrar {
   margin-top: 50px;
   background-color: white;
   border: 2px solid black;
   color: black;
}

.cerrar:hover {
   background-color: red;
   color: white;
   border: 2px solid red;
   width: 80%;
   height: 30px;
   margin: 50px 10%;
}

.fecha {
   padding: 10px 0;
   border-bottom: 2px solid #5f5f5f;
   font-size: 40px;
   height: 10%;
}

.div-nuevo-curso {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 80%;
   width: 100%;
}

.cursoListo {
   background-color: #fbb540;
   color: white;
   border-radius: 15px;
   padding: 30px 0;
   width: 100%;
   height: 80%;
   display: block;
   overflow: auto;
   font-weight: bold;
}

.cursoListo table {
   width: 100%;
}

.eliminar {
   text-decoration: none;
   border: 2px solid white;
   border-radius: 50px;
   color: white;
   height: 25px;
   width: 25px;
   outline: none;
   font-size: 15px;
   font-weight: 900;
   padding: 0;
   transition: 0.1s;
   text-align: center;
}

.eliminar:hover {
   cursor: pointer;
   background-color: red;
   border: 2px solid transparent;
   -webkit-transform: rotate(-90deg);
   transform: rotate(-90deg);
}

.editar {
   text-decoration: none;
   border: 2px solid white;
   border-radius: 50px;
   color: white;
   height: 25px;
   width: 25px;
   outline: none;
   font-size: 15px;
   font-weight: 900;
   padding: 0;
   transition: 0.1s;
   text-align: center;
}

.editar:hover {
   cursor: pointer;
   background-color: red;
   border: 2px solid transparent;
   -webkit-transform: rotate(-90deg);
   transform: rotate(-90deg);
}

.columna {
   border: black solid 1px;
   width: 20%;
   border-radius: 40px;
   padding: 3px;
   background-color: white;
   color: black;
   display: flex;
   justify-content: center;
}

.mas {
   text-decoration: none;
   border: 2px solid white;
   border-radius: 50px;
   color: white;
   height: 30px;
   width: 250px;
   outline: none;
   font-size: 15px;
   font-weight: 900;
   padding: 0;
   transition: 0.1s;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 25% 30%;
}

.mas:hover {
   cursor: pointer;
   background: rgb(124, 255, 163);
   border: 2px solid transparent;
}

.cursoListo td {
   border-bottom: 2px solid rgba(255, 255, 255, 0.5);
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 15px 0;
}

.cursoListo::-webkit-scrollbar {
   width: 10px;
   margin-right: 15px;
}

.cursoListo::-webkit-scrollbar-thumb {
   background: rgba(255, 255, 255, 0.5) /* inear-gradient( #9300c0 0%,#e100ff 100% ) */;
   border-radius: 5px;
}

.formulario {
   width: 100%;
}
.input-text.linea {
   border-bottom: 1px solid #5f5f5f;
}

.input-text {
   width: 90%;
   height: 5%;
   margin-top: 10px;
   padding: 20px 0;
   border: 0;
   height: 10%;
   font-size: 25px;
   outline: none;
}

.enviar-curso {
   background-color: #fbb540;
   border: 2px solid transparent;
   border-radius: 50px;
   color: white;
   height: 50px;
   width: 50px;
   outline: none;
   font-size: 30px;
   font-weight: 900;
   padding: 0;
   transition: 0.1s;
}

.enviar-curso:hover {
   background-color: green;
   cursor: pointer;
   -webkit-transform: rotate(-90deg);
   transform: rotate(-90deg);
}

.formulario {
   border-bottom: 1px solid #5f5f5f;
}
