* {
   font-family: "Roboto", sans-serif;
}

body {
   display: flex;
   width: 100vw;
   height: 100vh;
   background-color: white;
   margin: 0px;
   padding: 0px;
   font-family: "Roboto", sans-serif;
   font-weight: normal;
}

.seccion-imagen {
   background-image: url(../img/login.jpg);
   background-size: cover;
   max-height: 100vh;
   width: 25vw;
   display: block;
   align-items: center;
   justify-content: center;
   padding: 50px;
   color: white;
   position: relative;
}

.seccion-imagen h1 {
   font-size: 50px;
   margin: 0px;
}

.texto {
   position: absolute;
   top: 35vh;
}

a {
   text-decoration: none;
   color: black;
}

.imagen {
   width: 75%;
}

.seccion-formulario {
   height: 100vh;
   max-width: 75vw;
   display: flex;
   align-items: center;
   justify-content: center;
   color: black;
   padding-right: 300px;
   padding-left: 100px;
}
.seccion-formulario p {
   margin-top: 0px;
}

.seccion-formulario h1 {
   margin-bottom: 0px;
}

.seccion-formulario-register h1 {
   margin-top: 0px;
}

.linea {
   border-top: 2px solid black;
   width: 85px;
   margin: 10px 0px;
   margin-bottom: 35px;
   display: block;
}

.contenedor-error {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 300px;
}

.boton-salir {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: #fbb540;
   display: inherit;
   line-height: 40px;
   text-align: center;
   color: black;
}

.boton-salir:hover {
   color: black;
   background-color: white;
   cursor: pointer;
}

.formulario {
   position: relative;
}

.formulario-register {
   position: relative;
   top: -30px;
}

.boton-iniciar {
   background: transparent;
   border: 2px solid black;
   color: black;
   background-color: #fbb540;
   border-radius: 50px;
   height: 45px;
   width: 150px;
   display: block;
   text-align: center;
   margin-top: 5%;
   outline: none;
   font-weight: bold;
   font-family: "Roboto", sans-serif;
   position: absolute;
   right: 0;
}

.boton-iniciar:hover {
   background-color: transparent;
   color: black;
   cursor: pointer;
}

.mensaje-error {
   color: #ff4848;
   font-size: 10px;
}

.imput-text {
   background: transparent;
   border: none;
   width: 300px;
   height: 50px;
   border-bottom: 1px solid gray;
   margin-bottom: 40px;
   outline: none;
   font-family: "Roboto", sans-serif;
   font-weight: normal;
}

.imput-text-register {
   margin-bottom: 20px;
}

.imput-text:focus {
   border-bottom: 1px solid #9300c0;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
   font-family: "fontello";
   font-style: normal;
   font-weight: normal;

   display: inline-block;
   text-decoration: inherit;
   width: 1em;
   margin-right: 0.2em;
   text-align: center;

   font-variant: normal;
   text-transform: none;
   line-height: 1em;
   margin-left: 0.2em;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon-cancel:before {
   content: "\e801";
}
